@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Glass+Antiqua&family=Kalnia+Glaze:wght@100..700&family=Kalnia:wght@100..700&family=Manrope:wght@200..800&family=Merienda:wght@300..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Redressed&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Font Styles*/
.exoFont {
  font-family: "Exo 2", sans-serif;
}

.shantellFont {
  font-family: "Shantell Sans", sans-serif;
}

.meriendaFont {
  font-family: "Merienda", sans-serif;
}

.caveatFont {
  font-family: "Caveat", sans-serif;
}
.redressedFont {
  font-family: "Redressed", sans-serif;
}
.sacramentoFont {
  font-family: "Sacramento", sans-serif;
}
.playfairFont {
  font-family: "Playfair", sans-serif;
}
.yesevaFont {
  font-family: "Yeseva One", sans-serif;
}
.kalniaFont {
  font-family: "Kalnia", sans-serif;
}
.kalniaGlazeFont {
  font-family: "Kalnia Glaze", sans-serif;
}
.playwriteFont {
  font-family: "Playwrite GB J", sans-serif;
}
.glassFont {
  font-family: "Glass Antiqua", sans-serif;
}

@layer components {
  .gradient-border {
    @apply relative;
  }
  .gradient-border::before,
  .gradient-border::after,
  .gradient-border-top::before,
  .gradient-border-bottom::after {
    content: "";
    @apply absolute;
    z-index: 1;
  }
  .gradient-border::before {
    @apply inset-0;
    border: 4px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, #7f7fd5, #31b7c2);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  /* DefaultScrollbars */

  .scroll::-webkit-scrollbar {
    width: 1.8vw; /* width of the entire scrollbar */
    min-width: 12px;
  }
  .scroll::-webkit-scrollbar-track {
    border-radius: 0px 20px 20px 0px; /* color of the tracking area */
  }

  .scroll::-webkit-scrollbar-thumb {
    border-width: 0.5vw;
    border-style: solid;

    border-radius: 6px; /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
  }
  @media (min-width: 900px) {
    /*PCs and above*/
    .scroll::-webkit-scrollbar {
      width: 15px;
    }
    .scroll::-webkit-scrollbar-thumb {
      border-width: 4.5px;
    }
  }

  /*Scroll We Forgot*/
  .scrollWF::-webkit-scrollbar-track {
    background: rgb(234, 223, 232);
  }
  .scrollWF::-webkit-scrollbar-thumb {
    background-color: rgb(38, 49, 57); /* color of the scroll thumb  */
    border-color: rgb(234, 223, 232);
  }

  /*Scroll Stand By Me*/
  .scrollSBM::-webkit-scrollbar-track {
    background: rgb(197, 194, 192);
  }
  .scrollSBM::-webkit-scrollbar-thumb {
    background-color: rgb(38, 49, 57); /* color of the scroll thumb  */
    border-color: rgb(197, 194, 192);
  }
  /*Scroll Modal*/
  .scrollModal::-webkit-scrollbar {
    width: 2vw;
    min-width: 10px;
  }
  .scrollModal::-webkit-scrollbar-track {
    background: rgb(197, 194, 192);
    border-radius: 20px;
  }
  .scrollModal::-webkit-scrollbar-thumb {
    background-color: rgb(38, 49, 57); /* color of the scroll thumb  */
    border-color: rgb(197, 194, 192);
    border-radius: 20px;
  }
  @media (min-width: 700px) {
    /*PCs and above*/
    .scrollModal::-webkit-scrollbar {
      width: 13px;
    }
    .scrollModal::-webkit-scrollbar-thumb {
      border-width: 3.2px;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: "Overpass", sans-serif; */
  background-color: rgb(246, 246, 246s);
}

.gradient {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.7868872549019608) 35%,
      rgba(83, 83, 69, 0.5636379551820728) 100%
    ),
    url(./assets/images/poemBgs/poem1Bg.webp);
  background-repeat: no-repeat;
  background-size: 100vw 140vw;
  /* background-size: 100vw 260px; */
  /* background-size: cover; */
  background-position: 0% 25vw;
  background-attachment: fixed;
}

.introGrad {
  background: radial-gradient(
      157.2% 114.74% at 54.01% 114.67%,
      rgba(255, 215, 231, 0.5) 5.59%,
      rgba(233, 235, 251, 0.5) 44.79%,
      #fff
    ),
    url(./assets/icons/bgDot.svg);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .introGrad {
    background-image: url("./assets/images/grad1Dark.webp");
    background-size: cover;
  }
}
/* Ensure dark mode styles also apply when the dark class is present */
.dark .introGrad {
  background-image: url("./assets/images/grad1Dark.webp");
  background-size: cover;
}

/*Poem BGs*/
.poemBG {
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
.poemBG-SBM {
  background-image: url(./assets/images/poemBgs/SBM-S2.webp);
}
.poemBG-LK {
  background-image: url(./assets/images/8.webp);
  background-size: 100vw 100vh;
}
.poemBG-WF {
  background-image: url(./assets/images/15.webp);
  background-size: auto 240vh;
}
.poemBG-THUG {
  background-image: url(./assets/images/D.webp);
  background-size: 100vw 380vh;
  background-position: bottom;
}
.poemBG-TMandem {
  background-image: url(./assets/images/9.webp);
  background-size: 100vw 100vh;
}
.poemBG-NSNM {
  background-image: url(./assets/images/16.webp);
  background-size: 100vw 100vh;
}
.poemBG-TS {
  background-image: url(./assets/images/14.webp);
  background-size: 100vw 100vh;
}
.poemBG-SNE {
  background-image: url(./assets/images/14.webp);
  background-size: 100vw 100vh;
}
.poemBG-Marriage {
  background-image: url(./assets/images/5.webp);
  background-size: 100vw 100vh;
}
.poemBG-BM {
  background-image: url(./assets/images/7.webp);
  background-size: 100vw 100vh;
}
.poemBG-JN {
  background-image: url(./assets/images/15.webp);
  background-size: 100vw 240vh;
}
.poemBG-TCOB {
  background-image: url(./assets/images/poemBgs/TCOBBGS2.webp);
  background-size: 100vw 170vh;
}
/* .poemBG-WF {
  background-image: url(./assets/images/D.webp);
  background-size: 100vw 200vh;
} */
@media (min-width: 565px) {
  /*Tablets and above*/
  .introGrad {
    background-image: url("./assets/images/grad1.webp");
    background-size: cover;
  }
  .poemBG {
    background-size: 100vw 100vh;
  }
  .poemBG-WF {
    background-size: 100vw 250vh;
  }
  .poemBG-SBM {
    background-image: url(./assets/images/poemBgs/SBM-L2.webp);
  }
  .poemBG-THUG {
    background-image: url(./assets/images/D.webp);
    background-size: 100vw 180vh;
    background-position: top;
  }
  .poemBG-TCOB {
    background-image: url(./assets/images/poemBgs/TCOBBG.webp);
    background-size: 100vw 100vh;
  }
}
@media (prefers-color-scheme: dark) and (min-width: 565px) {
  .introGrad {
    background-image: url("./assets/images/grad1Dark.webp");
    background-size: cover;
  }
}

.projectsGrad {
  background: radial-gradient(
    186.08% 130.76% at 92.25% 123.75%,
    #eeeffb 5.59%,
    #fff4ee 44.79%,
    #fff
  );
}
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .projectsGrad {
    background-image: url("./assets/images/projectsDark.webp");
    background-size: cover;
  }
}

@media (min-width: 566px) {
  /*Tablets and above*/
  .projectsGrad {
    background: radial-gradient(
      186.08% 130.76% at 92.25% 123.75%,
      #fff4ee 5.59%,
      #eeeffb 44.79%,
      #fff
    );
  }
}
@media (prefers-color-scheme: dark) and (min-width: 565px) {
  .projectsGrad {
    background-image: url("./assets/images/projectsDarkL.webp");
    background-size: cover;
  }
}

/* Ensure dark mode styles also apply when the .dark class is present */
.dark .projectsGrad {
  background-image: url("./assets/images/projectsDark.webp");
  background-size: cover;
}

@media (min-width: 566px) {
  /* Ensure dark mode styles also apply when .dark class is present on larger screens */
  .dark .projectsGrad {
    background-image: url("./assets/images/projectsDarkL.webp");
    background-size: cover;
  }
}

.aboutMeGrad {
  background: radial-gradient(
      186.08% 130.76% at 92.25% 123.75%,
      #eeeffb 20.59%,
      rgba(49, 183, 194, 0.1) 74.79%,
      #fff
    ),
    url(./assets/icons/bgDot.svg);
  backdrop-filter: blur(140px);
}
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .aboutMeGrad {
    background-image: url("./assets/images/aboutMeDark.webp");
    background-size: cover;
  }
}
/**/
@media (min-width: 566px) {
  /*Tablets and above*/
  .aboutMeGrad {
    background: radial-gradient(
        186.08% 130.76% at 92.25% 123.75%,
        rgba(49, 183, 194, 0.1) 20.59%,
        rgba(127, 127, 213, 0.2) 74.79%,
        #fff
      ),
      url(./assets/icons/bgDot.svg);
  }
}
@media (prefers-color-scheme: dark) and (min-width: 565px) {
  .aboutMeGrad {
    background: linear-gradient(
        135deg,
        rgba(164, 177, 178, 0.6) 50%,
        rgba(113, 112, 210, 0.6) 100%
      ),
      url(./assets/icons/bgDot.svg);
  }
}

/* Ensure dark mode styles also apply when the .dark class is present */
.dark .aboutMeGrad {
  background-image: url("./assets/images/aboutMeDark.webp");
  background-size: cover;
}

@media (min-width: 566px) {
  /* Ensure dark mode styles also apply when .dark class is present on larger screens */
  .dark .aboutMeGrad {
    background: linear-gradient(
        135deg,
        rgba(164, 177, 178, 0.6) 50%,
        rgba(113, 112, 210, 0.6) 100%
      ),
      url(./assets/icons/bgDot.svg);
  }
}

.contactMeGrad {
  background-image: url("./assets/icons/bgGrad.svg");
  background-size: 100vw 100vh;
}
/**/
@media (min-width: 566px) {
  /*Tablets and above*/
  .contactMeGrad {
    background: radial-gradient(
        186.08% 130.76% at 92.25% 123.75%,
        rgba(49, 183, 194, 0.1) 20.59%,
        rgba(127, 127, 213, 0.2) 74.79%,
        #fff
      ),
      url(./assets/icons/bgDot.svg);
  }
}

body {
  backgroud-color: #f9f9f9;
}

/* body {
  background-image: url("./assets/images/grad1.webp");
  background-size: auto 200vh;
} */
/* 
body {
  background-color: #f6f6f6;
} */

.gradient-border-top {
  position: relative;
}

.gradient-border-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height for border thickness */
  border-style: double;
  background: linear-gradient(to right, #7f7fd5, #31b7c2);
  z-index: 1;
}

.gradient-border-bottom {
  position: relative;
  border-radius: 0.125rem; /* Adjust as needed */
  overflow: hidden; /* Ensures the pseudo-element respects the border-radius */
}

.gradient-border-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height for border thickness */
  border-style: double;
  background: linear-gradient(to right, #7f7fd5, #31b7c2);
  border-bottom-left-radius: 0.125rem; /* Match the element's border-radius */
  border-bottom-right-radius: 0.125rem; /* Match the element's border-radius */
  z-index: 1;
}
.underlinegradient {
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.underlinegradient::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px; /* Thickness of the underline */
  @apply bg-underlinegradient; /* Use the custom gradient */
  background-size: 100% 100%;
}

/* Image Slide Styles */

.mySlides,
.mySlidesInt,
.PISlides {
  display: none;
}

/* hero */

.hero {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.26) 35%,
      rgba(83, 83, 69, 0.2608368347338936) 100%
    ),
    url(./assets/images/shake.webp);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

@media (max-width: 565px) {
  /*Mid-Mobile screens*/
  .hero {
    background-size: 200vw 100vh;
    background-position: center;
  }
}

/* Quote BGs*/

.quoteBG {
  background-image: linear-gradient(
    90deg,
    rgba(83, 83, 69, 0.26) 35%,
    rgba(83, 83, 69, 0.2608368347338936) 100%
  );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

@media (min-width: 640px) {
  /*Mid-Mobile screens*/
  /* .quoteBG {
    background-size: 100vw 100vh;
  } */
}

.quoteBGP1 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.06) 35%,
      rgba(83, 83, 69, 0.0608368347338936) 100%
    ),
    url(./assets/images/poemBgs/poem1Bg.webp);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
@media (min-width: 375px) {
  /*mobiles and above*/

  .quoteBGP1 {
    background-size: 375px 50vh;
    background-repeat: repeat;
  }
}

@media (min-width: 565px) {
  /*Tablets and above*/

  .quoteBGP1 {
    background-image: none;
  }
}

.quoteBG1 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/1.webp);
}
.quoteBG2 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/2.webp);
}

.quoteBG3 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/3.webp);
}
.quoteBG4 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/4.webp);
}
.quoteBG5 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/5.webp);
}
.quoteBG6 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/6.webp);
}
.quoteBG7 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/7.webp);
}
.quoteBG8 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/8.webp);
}
.quoteBG9 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/9.webp);
}
.quoteBG10 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/10.webp);
}

/* Intro */
.UquoteBGA {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/A.webp);
}
.quoteBGB {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/B.webp);
}
.quoteBGC {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/C.webp);
}
.quoteBGD {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/D.webp);
}
.UquoteBGE {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/E.webp);
}
.quoteBGF {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/F.webp);
}
.quoteBGG {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/G.webp);
}

.w3-animate-opacity {
  animation: opac 2s;
}
@keyframes opac {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.w3-animate-opacityIntro {
  animation: opacIntro 3.6s;
}
@keyframes opacIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.w3-animate-zoom {
  animation: animatezoom 2.6s;
}
.w3-animate-zoomSlow {
  animation: animatezoom 4s;
}
.w3-animate-rightNav {
  animation: animateright 1.6s;
}

.w3-animate-rightVec {
  animation: animateright 2.6s;
}

.w3-animate-leftVec {
  animation: animateleft 1.6s;
}

/* .w3-animate-left {
  animation: animateleft 5.6s;
} */

.w3-animate-right {
  animation: animateright 3.6s;
}

/* General Scrollbars*/

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  border-width: 3px;
  border-style: solid;

  border-radius: 6px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
@media (min-width: 501px) {
  /*PCs and above*/
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 4.5px;
  }
}
@media (min-width: 900px) {
  /*PCs and above*/
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
    border-width: 4.5px;
  }
}

/*Scroll Stand By Me*/
::-webkit-scrollbar-track {
  background: rgb(234, 223, 232);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(38, 49, 57); /* color of the scroll thumb  */
  border-color: rgb(234, 223, 232);
}

/* Add this to your CSS file */
.left-div-animation,
.right-div-animation {
  position: static;
}

.skewedR {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.skewedL {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.skewedRN {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

@media (prefers-color-scheme: dark) {
  .skewedRN {
    clip-path: none;
  }
}

@media (min-width: 565px) {
  .skewedRN {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
    clip-path: none;
  }
}

.skewedLR {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}
@media (prefers-color-scheme: dark) {
  .skewedLR {
    clip-path: none;
  }
}

@media (min-width: 565px) {
  .skewedLR {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
  }
}

@media (prefers-color-scheme: dark) and (min-width: 565px) {
  .skewedLR {
    clip-path: none;
  }
}

/* Ensure dark mode styles also apply when the .dark class is present */
.dark .skewedLR {
  clip-path: none;
}

@media (min-width: 565px) {
  /* Ensure dark mode styles also apply when .dark class is present on larger screens */
  .dark .skewedLR {
    clip-path: none;
  }
}
