@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: "Overpass", sans-serif; */
  background-color: rgb(246, 246, 246s);
}

.introGrad {
  background: radial-gradient(
    157.2% 114.74% at 54.01% 114.67%,
    #ffd7e7 5.59%,
    #e9ebfb 44.79%,
    #fff
  );
}
@media (min-width: 566px) {
  /*Tablets and above*/
  .introGrad {
    background-image: url("./assets/images/grad1.webp");
    background-size: cover;
  }
}

.projectsGrad {
  background: radial-gradient(
    186.08% 130.76% at 92.25% 123.75%,
    #eeeffb 5.59%,
    #fff4ee 44.79%,
    #fff
  );
}

@media (min-width: 566px) {
  /*Tablets and above*/
  .projectsGrad {
    background: radial-gradient(
      186.08% 130.76% at 92.25% 123.75%,
      #fff4ee 5.59%,
      #eeeffb 44.79%,
      #fff
    );
  }
}

body {
  backgroud-color: #f9f9f9;
}

/* body {
  background-image: url("./assets/images/grad1.webp");
  background-size: auto 200vh;
} */
/* 
body {
  background-color: #f6f6f6;
} */
.exoFont {
  font-family: "Exo 2", sans-serif;
}

.mySlides,
.mySlidesInt,
.PISlides {
  display: none;
}

/* Quote BGs*/

.quoteBG {
  background-image: linear-gradient(
    90deg,
    rgba(83, 83, 69, 0.56) 35%,
    rgba(83, 83, 69, 0.5608368347338936) 100%
  );
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-attachment: fixed;
}

@media (min-width: 640px) {
  /*Mid-Mobile screens*/
  .quoteBG {
    background-size: 100vw 100vh;
  }
}

.quoteBG1 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/1.jpg);
}
.quoteBG2 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/2.jpg);
}

.quoteBG3 {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/3.jpg);
}

/* Intro */
.quoteBGA {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/A.jpg);
}
.quoteBGB {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/B.jpg);
}
.quoteBGC {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/C.jpg);
}
.quoteBGD {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/D.jpg);
}
.quoteBGE {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/E.jpg);
}
.quoteBGF {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/F.jpg);
}
.quoteBGG {
  background-image: linear-gradient(
      90deg,
      rgba(83, 83, 69, 0.56) 35%,
      rgba(83, 83, 69, 0.5608368347338936) 100%
    ),
    url(./assets/images/G.jpg);
}

.w3-animate-opacity {
  animation: opac 2s;
}
@keyframes opac {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.w3-animate-zoom2 {
  animation: animatezoom 1.6s;
}
